@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
$font_tumba: 'Koulen', cursive;


header {
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px 15px;
    background-image: url("../../components/Header/banner.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    z-index: 100;
    background-color: #f80000;
    //animation-name: moveHeader;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes downHeader {
    from {
        height: 55vh;
    }

    to {
        height: 100vh;
    }
}

@keyframes upHeader {
    from {
        height: 100vh;
    }

    to {
        height: 55vh;
    }
}

.tumba {
    width: 6vw;
    height: 6vw;
    background-image: url("./tumba.png");
    background-size: contain;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(-7deg);

    &:hover {
        filter: invert(100%);
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: $font_tumba;
    font-size: 20px;
    cursor: pointer;
}

.tumbaOffers {
    @extend .tumba;
    transform: rotate(10deg);
    position: relative;
    bottom: 9vw;
    right: 2.5vw;
}

.tumbaHome {
    @extend .tumba;
    transform: rotate(-5deg);
    position: relative;
    bottom: 10vw;
    right: -9vw;
}

.tumbaNews {
    @extend .tumba;
    transform: rotate(-5deg);
    position: relative;
    bottom: 7.5vw;
    right: -2vw;
}

.tumbaSpanish {
    @extend .tumba;
    transform: rotate(5deg);
    position: relative;
    bottom: 6vw;
    right: 5vw;
}

.tumbaActive {
    filter: invert(100%);
    text-decoration: none;
}

.tumbaNone {
    text-decoration: none;
}

.menu {
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
}