$color_fondo: white;
$color_borde: white;
$color_nVentas: black;
$margin_border_carro: 10px;

.formatoCarrito{
    background-color: rgba($color: $color_fondo, $alpha: 0);
    width: 8vh;
    border-radius: $margin_border_carro;
    padding: 2px;
    border: 2px solid $color_borde;
    margin-bottom: $margin_border_carro;
    cursor: pointer;
}

.numeroCompras {
    position: relative;
    top: 14px;
    left: 7px;
    background-color: $color_nVentas;
    width: 3.5vh;
    height: 3.5vh;
    border-radius: 15px;
    border: 2px solid $color_borde;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    visibility: hidden;
}

.contenedorCarrito{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: -0.5vh;
    right: 2vh;
}