$color_title: red;

body{
    background-image: url("./components/Header/banner2.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:top;
    background-color: white;
}

