$height_counter: 35px;
$width_counter: 75px;
$color_button_iter: gray;

.contenedorCounter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: $width_counter+2*$height_counter;
    margin: auto;
}

.itemCounter {
    height: $height_counter;
    width: $width_counter;
    justify-content: center;
    align-items: center;
}

.btn
{
    &:focus{
        box-shadow: none;
        outline: none;
    }
    &:active{
        &:focus{
            box-shadow: none;
            outline: none;
        }
    }
}

.buttonCompra{
    width: $width_counter+2*$height_counter;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonIter{
    height: $height_counter;
    width: $height_counter;
}

.itemCount {
    display: flex;
    flex-direction: row;
    max-height: $height_counter;
    width: min-content;
    gap: 10px;
}